/*
common colors from the tango palette:
#fde79f; / * Orange 0 * /
#fcaf3e; / * Orange 1 * /
#f57900; / * Orange 2 * /
#ce5c00; / * Orange 3 * /
#fafbb5; / * Butter 0 * /
#fce94f; / * Butter 1 * /
#edd400; / * Butter 2 * /
#d0f3af; / * Chameleon 0 * /
#8ae234; / * Chameleon 1 * /
#73d216; / * Chameleon 2 * /
#4e9a06; / * Chameleon 3 * /
#f6f6f4; / * Aluminium 0 * /
#eeeeec; / * Aluminium 1 * /
#d3d7cf; / * Aluminium 2 * /
#babdb6; / * Aluminium 3 * /
#888a85; / * Aluminium 4 * /
#555753; / * Aluminium 5 * /
#2e3436; / * Aluminium 6 * /
#dfe6ed; / * Sky Blue 0 * /
#729fcf; / * Sky Blue 1 * /
#3465a4; / * Sky Blue 2 * /
#204a87; / * Sky Blue 3 * /
#ad7fa8; / * Plum 1 * /
#75507b; / * Plum 2 * /
#5c3566; / * Plum 3 * /
#ef2929; / * Scarlet Red 1 * /
#cc0000; / * Scarlet Red 2 * /
#a40000; / * Scarlet Red 3 * /
*/

/**********************************************************************
 * reStructuredText custom style
 **********************************************************************/
@import url(reST.css);


/**********************************************************************
 * Document
 **********************************************************************/

html {
    text-align: center;
}

body {
	margin: 0 20px;
	padding: 10px 20px;
	max-width: 1200px;
	margin: 0 auto;
	font-family:"Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
	text-align: left;
}

:focus {
  outline-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    margin: 0;
}


/**********************************************************************
 * Common
 **********************************************************************/

.hidden {display: none;}

.clearing {clear: both;}

/* Table */
table {
    width: 100%;
    border-spacing: 2px;
}

table tr.even {
    background-color: #eeeeec; /* Aluminium 1 */
}

table tr.odd {
    background-color: #f6f6f4; /* Aluminium 0 */
}

table tr:hover {
    background-color: #d3d7cf; /* Aluminium 2 */
}

table tr.table_header {
    background-color: #d3d7cf; /* Aluminium 2 */
}

table td {
    vertical-align: top;
}

table td.icon {
    width: 18px;
}

/* Buttons */
.button {
    padding: 2px 6px;
    background-color: #73d216; /* Chameleon 2 */
    color: white;
	border-radius: 8px;
    box-shadow: 4px 4px 10px #888a85; /* Aluminium 4 */
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    -moz-box-shadow: 4px 4px 10px #888a85; /* Aluminium 4 */
    -webkit-box-shadow: 4px 4px 10px #888a85; /* Aluminium 4 */
    cursor: pointer;
}

.button:active {
    box-shadow: inset 2px 2px 6px #888a85; /* Aluminium 4 */
    -moz-box-shadow: inset 2px 2px 6px #888a85; /* Aluminium 4 */
    -webkit-box-shadow: inset 2px 2px 6px #888a85; /* Aluminium 4 */
}

/* Icons */
.icon {
    display: block;
    float: left;
    padding: 1px;
    height: 16px;
    width: 16px;
}

.iconbutton .text {
    margin-left: 18px;
}

.icon:active {
    box-shadow: inset 2px 2px 6px #888a85; /* Aluminium 4 */
    -moz-box-shadow: inset 2px 2px 6px #888a85; /* Aluminium 4 */
    -webkit-box-shadow: inset 2px 2px 6px #888a85; /* Aluminium 4 */
}

.icon.new {background: url(../images/icons/16x16/new.png) left center no-repeat;}
.icon.edit {background: url(../images/icons/16x16/edit.png) left center no-repeat;}
.icon.delete {background: url(../images/icons/16x16/delete.png) left center no-repeat;}
.icon.publish {background: url(../images/icons/16x16/redo.png) left center no-repeat;}
.icon.unpublish {background: url(../images/icons/16x16/undo.png) left center no-repeat;}
.icon.approve {background: url(../images/icons/16x16/approve.png) left center no-repeat;}
.icon.revoke {background: url(../images/icons/16x16/revoke.png) left center no-repeat;}
.icon.spam {background: url(../images/icons/16x16/spam.png) left center no-repeat;}
.icon.unspam {background: url(../images/icons/16x16/unspam.png) left center no-repeat;}
.icon.article {background: url(../images/icons/16x16/text.png) left center no-repeat;}
.icon.link {background: url(../images/icons/16x16/link.png) left center no-repeat;}
.icon.audio {background: url(../images/icons/16x16/audio.png) left center no-repeat;}
.icon.video {background: url(../images/icons/16x16/video.png) left center no-repeat;}
.icon.image {background: url(../images/icons/16x16/image.png) left center no-repeat;}
.icon.vimeo {background: url(../images/icons/16x16/vimeo.png) left center no-repeat;}
.icon.youtube {background: url(../images/icons/16x16/youtube.png) left center no-repeat;}

/* Status */
.status {
    text-align: center;
}

.status.published, .status.approved {
    background-color: #73d216; /* Chameleon 2 */
    color: white;
}

.status.draft, .status.waiting {
    background-color: #edd400; /* Butter 2 */
    color: white;
}

.status.spam {
    background-color: #cc0000; /* Scarlet Red 2 */
    color: white;
}


/**********************************************************************
 * Overlay
 **********************************************************************/
#overlay {
	padding: 30px;
	display: none;
	z-index: 10;
}

/*
    close button (div.close element) is auto-generated by default.
    here it is positioned on top-right corner
*/
#overlay div.close {
    background:url(../images/icons/24x24/close.png) no-repeat;
    position:absolute;
	top: 20px;
	right: 20px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#overlay iframe {
    width: 600px;
	height: 450px;
	padding: 10px;
    border: 2px solid #a40000; /* Scarlet Red 3 */
	border-radius: 10px;
    box-shadow: 0 0 25px 5px #333;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-box-shadow: 0 0 25px 5px #333;
    -webkit-box-shadow: 0 0 25px 5px #333;
    background-color: white;
    overflow: auto;
}


/****************************************
 * Header
 ****************************************/
#header {
    position: relative;
	min-width: 425px;
	margin-bottom: 20px;
	padding-left: 135px;
}

#header .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 160px;
    background-image: url(../images/logo.png);
    z-index: 5;
}

#header .menu_top {
    position: relative;
	height: 20px;
}

#header .menu_top ul {
    float: right;
    position: absolute;
    top: 8px;
    right: -8px;
    font-size: smaller;
}

#header .menu_top li {
    float: right;
    margin-left: 2px;
    padding: 2px 6px;
    background-color: #73d216; /* Chameleon 2 */
    color: white;
}

#header .menu_top li:first-child {
	border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
}

#header .menu_top li:last-child {
	border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px;
}

#header .menu_top .languages {
    /*position: absolute;*/
    /*background-color: #73d216;*/ /* Chameleon 2 */
}

#header .menu_top .current_language {
    cursor: pointer;
}

#header .menu_top .language {
    padding: 0 4px;
}

#header .menu_top .language:hover {
    background-color: #4e9a06; /* Chameleon 3 */
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#header .menu_top .language a {
    display: block;
}

#header .banner {
	max-width: 1065px;
	height: 120px;
	border-radius: 0 10px 10px 0;
	-moz-border-radius: 0 10px 10px 0;
	-webkit-border-radius: 0 10px 10px 0;
    background: linear-gradient(90deg,#a40000,#f57900);
    background: -moz-linear-gradient(90deg,#a40000,#f57900);
    background: -webkit-gradient(linear,center bottom,center top,from(#a40000),to(#f57900));
    overflow: hidden;
}

#header .banner a {
    display: block;
    width: 100%;
    height: 100%;
}

#header .banner img {
	border: 0;
}

#header .menu_bottom {
    margin-top: 3px;
}

#header .menu_bottom ul {
    height: 100%;
	overflow: hidden;
}

#header .menu_bottom ul li {
    float: left;
    height: 100%;
    margin: 0 2px 2px 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#header .menu_bottom ul li:hover {
    background-color: #a40000; /* Scarlet Red 3 */
    color: white;
}

#header .menu_bottom ul li.active {
    background-color: #babdb6; /* Aluminium 3 */
    color: white;
}

#header .menu_bottom a {
    padding: 0 10px;
}

/* Flash */
#flash {
    position: relative;
    color: white;
}

#flash div {
    position: absolute;
    padding:10px 60px 10px 45px;
    z-index: 4;
    opacity: .9;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}

#flash .ok {
    background: #73d216 url(../images/icons/24x24/ok.png) no-repeat scroll 10px center; /* Chameleon 2 */
}

#flash .alert, #flash .warning {
    background: #edd400 url(../images/icons/24x24/warning.png) no-repeat scroll 10px center; /* Butter 1 */
}

#flash .error {
    background: #a40000 url(../images/icons/24x24/error.png) no-repeat scroll 10px center; /* Scarlet Red 3 */
}

#flash .info, .notice {
    background: #3465a4 url(../images/icons/24x24/info.png) no-repeat scroll 10px center; /* Sky Blue 2 */
}


/****************************************
 * Main
 ****************************************/
#main {
    min-width: 560px;
}

/****************************************
 * Side
 ****************************************/
#side {
    float: right;
    width: 240px;
	margin-bottom: 20px;
	padding-left: 10px;
	/*border-left: 1px solid #babdb6; / * Aluminium 3 * /*/
	opacity: 0.9;
}

#side > div {
    padding: 10px;
	background-color: #eeeeec; /* Aluminium 1 */
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#side h1 {
    float: right;
    padding-bottom: 10px;
    font-weight: lighter;
    font-size: larger;
    color: #888a85; /* Aluminium 4 */
}

#side h2 {
    margin: 0;
    /*font-weight: bold;*/
    font-size: medium;
}

#side ul {
    clear: right;
}

#side li {
    margin-bottom: 10px;
    padding-bottom: 4px;
	border-bottom: 1px solid #babdb6; /* Aluminium 3 */
	font-size: smaller;
}

#side li > div {
    padding: 4px 6px;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#side li > div:hover {
    background-color: #a40000; /* Scarlet Red 3 */
    color: white;
}

#side li.active > div {
    background-color: #babdb6; /* Aluminium 3 */
    color: white;
}

#side a {
    display: block;
}

#side li .type {
    color: #888a85; /* Aluminium 4 */
}

#side li .date {
    font-size: smaller;
}

#side li .user {
    font-size: smaller;
    font-style: italic;
}

/****************************************
 * Content
 ****************************************/
#content_with_side {
	margin: 0 260px 20px 0;
	min-height: 300px;
}

#content_without_side {
	margin-bottom: 20px;
	min-height: 300px;
}

.content_title {
	margin-bottom: 20px;
}

.more_results {
    font-size: smaller;
    color: #babdb6; /* Aluminium 3 */
}

.more_results a {
    margin-right: 2px;
    padding: 0 4px;
    background-color: #babdb6; /* Aluminium 3 */
    color: white;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}



/****************************************
 * Footer
 ****************************************/
#footer {
    clear: right;
    padding-top: 5px;
    border-top: 1px solid #a40000; /* Scarlet Red 3 */
    color: #babdb6; /* Aluminium 3 */
    font-size: smaller;
}


/****************************************
 * Login form
 ****************************************/
#loginform table {
    width: auto;
}

#loginform tr {
    background-color: inherit;
}


/****************************************
 * Object
 ****************************************/
.object_title {
	margin-bottom: 20px;
}

.object_title h1 {
	border-bottom: 1px solid #babdb6; /* Aluminium 3 */
}

.object_title .date, .object_title .user, .object_title .language, .object_title .tag {
    font-size: smaller;
}

.object_title .user {
    font-weight: bold;
    font-style: italic;
}

.object_title .languages, .object_title .tags {
    margin-bottom: 2px;
}

.object_title .language {
    margin-right: 2px;
    padding: 0 4px;
    background-color: #babdb6; /* Aluminium 3 */
    color: white;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.object_title .language.active {
    background-color: #f57900; /* Orange 2 */
}

.object_title .tag {
    color: #888a85; /* Aluminium 4 */
    padding: 0 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.object.summary {
    margin-bottom: 40px;
}

.object .more {
    font-size: smaller;
    color: #3465a4; /* Sky Blue 2 */
}

.object a:hover{
    color: #a40000; /* Scarlet Red 3 */
}
